<ion-header>

    <ion-toolbar color="header">
        <ion-title>Recuperar contraseña</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content padding>
    <ion-list>

        <ion-item>
            <img src="assets/icon/favicon.png">
        </ion-item>

        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>

    </ion-list>

</ion-content>

<ion-footer no-shadow no-margin no-padding no-border no-lines>
    <button ion-button full large (click)="sendResetPasswordLink()">Enviar Link</button>
</ion-footer>
