<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button style="color: white"></ion-back-button>
        </ion-buttons>
        <ion-title>Recuperar contraseña</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <img class="margin-end" style="margin: 5px auto; display: block" src="assets/icon/favicon.png">

    <ion-list>
        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input name="email" [(ngModel)]="email"></ion-input>
        </ion-item>
    </ion-list>

</ion-content>

<ion-footer no-shadow no-margin no-padding no-border no-lines>
    <ion-button expand="full" size="large" (click)="sendResetPasswordLink()">Restaurar contraseña</ion-button>
</ion-footer>

