<ion-header>
    <ion-toolbar>
        <ion-title>Repartidores</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-refresher slot="fixed" (ionRefresh)="getDeliveryMen($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list *ngFor="let deliveryMan of deliveryMen">
        <ion-item-sliding>
            <ion-item>
                <ion-avatar *ngIf="deliveryMan.profile_photo"
                            class="list-person-image">
                    <img src="{{ storageUrl + deliveryMan.profile_photo }}">
                </ion-avatar>
                <ion-label [routerLink]="['/admin/tabs/delivery-men/detail/', {userId: deliveryMan.id}]">
                    {{ deliveryMan.full_name }}
                </ion-label>
            </ion-item>
        </ion-item-sliding>
    </ion-list>

</ion-content>
