<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button style="color: white"></ion-back-button>
        </ion-buttons>
        <ion-title>Retroalimentación</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-segment *ngIf="currentUser?.company"
                 (ionChange)="segmentChanged($event.detail.value)"
                 [value]="segmentValue">
        <ion-segment-button [value]="segmentValues.FOR_USER">
            <ion-icon name="person"></ion-icon>
        </ion-segment-button>
        <ion-segment-button [value]="segmentValues.FOR_COMPANY">
            <ion-icon name="business"></ion-icon>
        </ion-segment-button>
    </ion-segment>

    <div>
        <div>
            <div style="display: block">
                <canvas baseChart
                        [datasets]="scatterChartData"
                        [options]="scatterChartOptions"
                        [labels]="scatterChartLabels"
                        [chartType]="scatterChartType">
                </canvas>
            </div>
        </div>
    </div>
    <plotly-plot [data]="graph?.data" [layout]="graph?.layout"></plotly-plot>
</ion-content>
