<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button style="color: white"></ion-back-button>
        </ion-buttons>
        <ion-title>Retroalimentación</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-segment *ngIf="currentUser?.company"
                 (ionChange)="segmentChanged($event.detail.value)"
                 [value]="segmentValue">
        <ion-segment-button [value]="segmentValues.FOR_USER">
            <ion-icon name="person"></ion-icon>
        </ion-segment-button>
        <ion-segment-button [value]="segmentValues.FOR_COMPANY">
            <ion-icon name="business"></ion-icon>
        </ion-segment-button>
    </ion-segment>


    <ion-grid>
        <ion-row style="width: 100%">
            <ion-item style="width: 100%">
                <ion-label>Selecciona un mes</ion-label>
                <ion-select [ngModel]="selectedMonth.value" (ngModelChange)="monthChanged($event)">
                    <ion-select-option *ngFor="let month of months"
                                       [value]="month.value">{{month.name}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-row>
        <ion-row style="width: 100%">
            <ion-item style="width: 100%">
                <ion-label>Predicción:</ion-label>
                <ion-text>{{monthPerformance.prediction}}</ion-text>
            </ion-item>
        </ion-row>
        <ion-row style="width: 100%">
            <ion-item style="width: 100%">
                <ion-label>Interpretación</ion-label>
                <ion-text
                        [ngStyle]="{'color': monthPerformance?.color}">{{monthPerformance?.text }}</ion-text>
            </ion-item>
        </ion-row>
    </ion-grid>

    <div style="display: block">
        <canvas baseChart
                *ngIf="scatterChartDataSets && scatterChartType && scatterChartOptions"
                [datasets]="scatterChartDataSets"
                [colors]="scatterChartColors"
                [options]="scatterChartOptions"
                [chartType]="scatterChartType">
        </canvas>
    </div>

</ion-content>
