<ion-header>
    <ion-toolbar>
        <ion-title>Origen de mi entrega</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div style="max-width: 600px; margin: 0 auto" padding>
        <ion-text *ngIf="senderClient?.company"
                  style="display: block;" class="ion-text-center, ion-margin-top">
            Escoge si nuestro repartidor tendrá que ir a tu localización personal para recoger el paquete o si
            tendrá que ir a tu localización empresarial.
        </ion-text>
        <ion-text *ngIf="!senderClient?.company"
                  style="display: block;" class="ion-text-center, ion-margin-top">
            La ubicación a donde pasará el repartidor por tu/s producto/s es tu ubicación personal. Cuando registres una
            compañia podras escoger entre la ubicación persona o la de la compañia
        </ion-text>
    </div>
    <ion-segment [disabled]="deliveryService.clientCanNotUpdate()"
                 (ionChange)="originChanged($event.detail.value)"
                 [value]="origin" *ngIf="senderClient">
        <ion-segment-button value="client">
            <ion-icon name="person"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="company" *ngIf="senderClient?.company">
            <ion-icon name="business"></ion-icon>
        </ion-segment-button>
    </ion-segment>

    <app-map [search]="false"
             [lat]="origin === 'client' ? senderClient?.location?.lat : senderClient?.company?.location?.lat"
             [lng]="origin === 'client' ? senderClient?.location?.lng : senderClient?.company?.location?.lng"></app-map>
    <ion-item>
        <ion-label style="font-weight: bold">Número interior</ion-label>
        <ion-text>{{ origin === 'client' ? senderClient?.location.int_no : senderClient?.company?.location?.int_no }}</ion-text>
    </ion-item>
    <ion-item>
        <ion-label style="font-weight: bold">Número exterior</ion-label>
        <ion-text>{{ origin === 'client' ? senderClient?.location.ext_no : senderClient?.company?.location?.ext_no }}</ion-text>
    </ion-item>

</ion-content>

<ion-footer>
    <ion-button [disabled]="!origin" expand="full" size="large"
                (click)="updateNavigate()">
        {{ isEditMode ? 'Guardar' : 'Siguiente paso' }}
    </ion-button>
</ion-footer>
