<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button style="color: white"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ isEditMode ? 'Modificar compañia' : 'Agregar compañia' }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <div *ngIf="!this.company?.profile_photo">
        <ion-icon name="contact" style="display: block; margin: 0 auto; font-size: 100px"></ion-icon>
    </div>
    <div *ngIf="this.company?.profile_photo">
        <ion-avatar
                style="margin: 0 auto;
                display: block;
                min-width: 140px;
                max-width: 140px;
                min-height: 200px;
                max-height: 200px">
            <img src="{{ this.company?.profile_photo }}">
        </ion-avatar>
    </div>

    <ion-button size="small" style="margin: 0 auto; display: block" (click)="pickImage()">Seleccionar foto de perfil
    </ion-button>

    <ion-item>
        <ion-label position="floating">Nombre/s</ion-label>
        <ion-input (ngModelChange)="company.name=$event" [ngModel]="company?.name"
                   name="first_name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-input (ngModelChange)="company.description=$event" [ngModel]="company?.description"
                   name="description"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Número interior</ion-label>
        <ion-input (ngModelChange)="company.location.int_no=$event" [ngModel]="company?.location.int_no" name="int_no"
                   type="number"
                   inputmode="number"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Número exterior</ion-label>
        <ion-input (ngModelChange)="company.location.ext_no=$event" [ngModel]="company?.location.ext_no" name="int_no"
                   type="number"
                   inputmode="number"></ion-input>
    </ion-item>

    <app-map [lat]="company?.location.lat"
             [lng]="company?.location.lng"
             [search]="true"></app-map>

</ion-content>

<ion-footer>
    <ion-button expand="full" size="large" (click)="save()">Guardar</ion-button>
</ion-footer>
