<ion-header>
    <ion-toolbar>
        <ion-title>Compañias</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="getCompanies($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list *ngFor="let company of companies">
        <ion-item-sliding>
            <ion-item>
                <ion-avatar *ngIf="company.profile_photo"
                            class="list-person-image">
                    <img src="{{ storageUrl + company.profile_photo }}">
                </ion-avatar>
                <ion-label [routerLink]="['./detail/', {companyId: company.id}]">
                    {{ company.name }}
                </ion-label>
            </ion-item>
        </ion-item-sliding>
    </ion-list>

</ion-content>
