<ion-header>
    <ion-toolbar>
        <ion-title>Clientes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-fab style="margin-bottom: 60px" vertical="bottom" horizontal="end" edge slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button routerLink="./save">
                <ion-icon name="person-add"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

</ion-content>
