<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button style="color: white"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ company?.name }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding class="ion-text-center">

    <div *ngIf="!company?.profile_photo">
        <ion-icon name="contact" style="display: block; margin: 0 auto; font-size: 100px"></ion-icon>
    </div>
    <ion-avatar
            style="margin: 0 auto;
                    width:100% !important;
                    height : 100% !important;
                    max-width: 100px !important;
                    max-height: 100px !important;" *ngIf="company?.profile_photo">
        <img src="{{ storageUrl + company?.profile_photo }}">
    </ion-avatar>
    <ion-list>
        <ion-item class="ion-margin-top">
            <ion-label style="font-weight: bold">Nombre</ion-label>
            <ion-text>{{ company?.name }}</ion-text>
        </ion-item>
        <ion-item>
            <ion-label style="font-weight: bold">Descripción</ion-label>
            <ion-text>{{ company?.description }}</ion-text>
        </ion-item>
        <app-map [lat]="company?.location.lat"
                 [lng]="company?.location.lng"
                 [search]="false"></app-map>
    </ion-list>

    <ion-button style="margin-top: 45px" expand="full" (click)="sheetActions()">
        Acciones
    </ion-button>

</ion-content>
