<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" *ngIf="isEditMode">
            <ion-back-button style="color: white"></ion-back-button>
        </ion-buttons>
        <ion-title>Entrega</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <app-map
            *ngIf="active"
            [ngStyle]="{ 'display': seeLocations ? 'block' : 'none' }"
            [search]="false"
            [senderClientLocation]="deliveryService?.delivery?.company_is_sending ?
            deliveryService?.delivery?.sender?.company?.location : deliveryService?.delivery?.sender?.location"
            [receiverClientLocation]="deliveryService?.delivery?.receiver?.location"
            [deliveryManLocationTracks]="deliveryService?.delivery?.location_tracks"></app-map>

    <div *ngIf="deliveryProductsService?.deliveryProducts && !deliveryProductsService?.deliveryProducts?.length"
         style="width: max-content; margin: 0 auto">
        <ion-text style="display: block" class="ion-text-center, ion-margin-top">
            Aún no has agregado productos.
        </ion-text>
    </div>

    <ion-list *ngFor="let product of deliveryProductsService?.deliveryProducts">
        <ion-card class="product-card">
            <ion-card-header>
                <ion-card-subtitle>Producto</ion-card-subtitle>
                <ion-card-title>
                    <ion-label style="font-weight: bold">{{ product?.name }}</ion-label>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-grid>

                    <ion-row style="margin: 0 auto">
                        <img class="product-image" *ngIf="product?.product_image"
                             src="{{ storageUrl + product.product_image }}">
                    </ion-row>

                    <ion-row style="width: 100%">
                        <ion-item style="width: 100%">
                            <ion-label style="font-weight: bold" class="ion-margin-end">Costo:
                            </ion-label>
                            <ion-text>{{ product?.cost }}</ion-text>
                        </ion-item>
                        <ion-item style="width: 100%">
                            <ion-label style="font-weight: bold" class="ion-margin-end">Cantidad:
                            </ion-label>
                            <ion-text>{{ product?.amount }}</ion-text>
                        </ion-item>
                        <ion-item style="width: 100%">
                            <ion-label style="font-weight: bold" class="ion-margin-end">Creado el:
                            </ion-label>
                            <ion-text>{{ product?.created_at }}</ion-text>
                        </ion-item>
                        <ion-item style="width: 100%">
                            <ion-label style="font-weight: bold" class="ion-margin-end">Actualizado
                                el:
                            </ion-label>
                            <ion-text>{{ product?.updated_at }}</ion-text>
                        </ion-item>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
            <div *ngIf="canAddOrUpdate()" style="position: absolute; top: 10px; right: 10px">
                <ion-button fill="outline"
                            [routerLink]="['./save', {deliveryProductId: product?.id}]">
                    <ion-icon name="create"></ion-icon>
                </ion-button>
                <ion-button fill="outline" (click)="remove(product.id)">
                    <ion-icon name="close"></ion-icon>
                </ion-button>
            </div>
        </ion-card>
    </ion-list>

    <ion-fab *ngIf="canAccessMessages()" style="margin-bottom: 60px" vertical="bottom" horizontal="start" edge
             slot="fixed">
        <ion-fab-button [routerLink]="['./../../messages']">
            <ion-icon name="mail"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab *ngIf="canAddOrUpdate()"
             style="margin-bottom: 60px" vertical="bottom"
             horizontal="end" edge slot="fixed">
        <ion-fab-button routerLink="./save">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>

<ion-footer>
    <ng-container *ngIf="currentUser && currentUser.role">
        <ion-button expand="full" *ngIf="currentUser.role.name === 'admin'" (click)="presentAdminActionSheet()">Acciones
        </ion-button>
        <ion-button expand="full" *ngIf="currentUser.role.name === 'client'" (click)="presentClientActionSheet()">
            Acciones
        </ion-button>
        <ion-button expand="full" *ngIf="currentUser.role.name === 'delivery_man'"
                    (click)="presentDeliveryManActionSheet()">Acciones
        </ion-button>
    </ng-container>
</ion-footer>
