<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" *ngIf="isEditMode">
            <ion-back-button style="color: white"></ion-back-button>
        </ion-buttons>
        <ion-title>Entrega</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <app-map
            [ngStyle]="{ 'display': seeLocations ? 'block' : 'none' }"
            [search]="false"
            [senderClientLocation]="deliveryService?.delivery?.company_is_sending ?
            deliveryService?.delivery?.sender?.company?.location : deliveryService?.delivery?.sender?.location"
            [receiverClientLocation]="deliveryService?.delivery?.receiver?.location"
            [deliveryManLocationTracks]="deliveryService?.delivery?.location_tracks"></app-map>

    <div *ngIf="deliveryProductsService?.deliveryProducts && !deliveryProductsService?.deliveryProducts?.length"
         style="width: max-content; margin: 0 auto">
        <ion-text style="display: block" class="ion-text-center, ion-margin-top">
            Aún no has agregado productos.
        </ion-text>
    </div>

    <ion-list *ngFor="let product of deliveryProductsService?.deliveryProducts">
        <ion-card class="product-card">
            <ion-grid>
                <ion-row>
                    <ion-col size="9">
                        <ion-card-header>
                            <ion-card-subtitle>Producto</ion-card-subtitle>
                            <ion-card-title>
                                <ion-label>{{ product?.name }}</ion-label>
                            </ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-grid>
                                <ion-row>
                                    <img class="product-image" *ngIf="product?.product_image"
                                         src="{{ storageUrl + product.product_image }}">
                                    <ion-col>
                                        <ion-item>
                                            <ion-label class="ion-margin-end">Costo:
                                                {{ product?.cost }}</ion-label>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label class="ion-margin-end">
                                                Cantidad: {{ product?.amount }}</ion-label>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label class="ion-margin-end">Creado
                                                el: {{ product?.created_at }}</ion-label>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label class="ion-margin-end">Actualizado
                                                el: {{ product?.updated_at }}</ion-label>
                                        </ion-item>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-card-content>
                    </ion-col>
                    <ion-col *ngIf="canAddOrUpdate()"
                             size="3" style="text-align: right">
                        <ion-button fill="outline"
                                    [routerLink]="['./save', {deliveryProductId: product?.id}]">
                            <ion-icon name="create"></ion-icon>
                        </ion-button>
                        <ion-button fill="outline" (click)="remove(product.id)">
                            <ion-icon name="close"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
    </ion-list>

    <ion-fab *ngIf="canAddOrUpdate() || (currentUser && currentUser.role && currentUser.role.name === 'admin')"
             style="margin-bottom: 60px" vertical="bottom" horizontal="start" edge slot="fixed">
        <ion-fab-button>
            <ion-icon name="undo"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button (click)="navigateByRole('deliveries/send/find-client')">
                <ion-icon name="person"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="navigateByRole('deliveries/send/choose-origin')">
                <ion-icon name="pin"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

    <ion-fab *ngIf="(deliveryService.delivery?.receiver_id === currentUser?.id || currentUser?.role?.name === 'admin') &&
                !(deliveryService.delivery?.delivery_status?.status === deliveryService.statuses?.making ||
                deliveryService.delivery?.delivery_status?.status === deliveryService.statuses?.cancelled)"
             style="margin-bottom: 60px" vertical="bottom"
             [horizontal]="canAddOrUpdate() ? 'center' : 'end'" edge slot="fixed">
        <ion-fab-button [routerLink]="['./../../messages']">
            <ion-icon name="mail"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab *ngIf="canAddOrUpdate()"
             style="margin-bottom: 60px" vertical="bottom"
             horizontal="end" edge slot="fixed">
        <ion-fab-button routerLink="./save">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>

<ion-footer>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button
                        size="large"
                        expand="full"
                        (click)="seeLocations = !seeLocations">
                    Localizaciones
                </ion-button>
            </ion-col>
            <ion-col *ngIf="deliveryService.clientCanConfirm() &&
                    deliveryService?.delivery?.sender?.id === currentUser?.id">
                <ion-button
                        size="large"
                        expand="full"
                        [disabled]="deliveryProductsService?.deliveryProducts && !deliveryProductsService?.deliveryProducts.length"
                        (click)="confirmDelivery()">
                    Confirmar
                </ion-button>
            </ion-col>
            <ion-col *ngIf="currentUser?.role?.name === 'admin' &&
             deliveryService?.delivery?.delivery_status?.status === deliveryService?.statuses?.notAssigned &&
deliveryProductsService?.deliveryProducts?.length > 0">
                <ion-button
                        size="large"
                        expand="full"
                        (click)="assignDelivery()">
                    Asignar
                </ion-button>
            </ion-col>
            <ion-col *ngIf="currentUser?.role?.name === 'admin' && deliveryService?.delivery?.delivery_man">
                <ion-button
                        size="large"
                        expand="full"
                        routerLink="/admin/tabs/deliveries/send/assign">
                    Asignado
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>
