<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button style="color: white"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ isEditMode ? 'Modificar usuario' : 'Agregar usuario' }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <div *ngIf="!this.user?.profile_photo">
        <ion-icon name="contact" style="display: block; margin: 0 auto; font-size: 100px"></ion-icon>
    </div>
    <div *ngIf="this.user?.profile_photo">
        <ion-avatar
                style="margin: 0 auto;
                display: block;
                min-width: 140px;
                max-width: 140px;
                min-height: 200px;
                max-height: 200px">
            <img src="{{ this.user?.profile_photo }}">
        </ion-avatar>
    </div>

    <ion-button size="small" style="margin: 0 auto; display: block" (click)="pickImage()">Seleccionar foto de perfil
    </ion-button>

    <ion-item>
        <ion-label position="floating">Nombre/s</ion-label>
        <ion-input (ngModelChange)="user.first_name=$event" [ngModel]="user?.first_name" name="first_name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input (ngModelChange)="user.last_name=$event" [ngModel]="user?.last_name" name="last_name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Fecha de nacimiento</ion-label>
        <ion-datetime placeholder="Escoger fecha de nacimiento" (ngModelChange)="user.birth_date=$event"
                      [ngModel]="user?.birth_date" name="birth_date"
                      display-format="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" max="2005"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input (ngModelChange)="user.email=$event" [ngModel]="user?.email" name="email"
                   inputmode="email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input (ngModelChange)="user.phone=$event" [ngModel]="user?.phone" name="phone" type="number"
                   inputmode="tel"></ion-input>
    </ion-item>

    <app-map [lat]="user?.location.lat"
             [lng]="user?.location.lng"
             [search]="true"></app-map>

    <ion-item *ngIf="!isEditMode">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input (ngModelChange)="user.password=$event" [ngModel]="user?.password" name="password"
                   type="password"></ion-input>
    </ion-item>

    <ion-item *ngIf="!isEditMode">
        <ion-label position="floating">Confirmar contraseña</ion-label>
        <ion-input [(ngModel)]="passwordConfirmation" name="password_confirmation" type="password"></ion-input>
    </ion-item>

</ion-content>

<ion-footer>
    <ion-button expand="full" size="large" (click)="save()">Guardar</ion-button>
</ion-footer>
