<ion-tabs>

    <ion-tab-bar slot="bottom">

        <ion-tab-button tab="clients">
            <ion-icon name="people"></ion-icon>
            <ion-label>Clientes</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="companies">
            <ion-icon name="business"></ion-icon>
            <ion-label>Compañias</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="delivery-men">
            <ion-icon name="walk"></ion-icon>
            <ion-label>Repartidores</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="setup">
            <ion-icon name="contact"></ion-icon>
            <ion-label>Configuración</ion-label>
        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>
