<ion-header>
    <ion-toolbar>
        <ion-title>Inicio</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <img class="margin-end" style="margin: 5px auto; display: block" src="assets/icon/favicon.png">

    <ion-list>

        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input name="email" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input name="password" type="password" [(ngModel)]="password"></ion-input>
        </ion-item>

    </ion-list>

    <ion-button expand="full" size="large" (click)="signIn()">Entrar</ion-button>

</ion-content>

<ion-footer no-shadow no-margin no-padding no-border no-lines>
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <ion-button expand="full" size="default" [routerLink]="['./sign-up', {role: 'client'}]">Ser cliente
                </ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button expand="full" size="default" [routerLink]="['./sign-up', {role: 'delivery_man'}]">Ser
                    repartidor
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-footer>
