<ion-header>
    <ion-toolbar>
        <ion-title>Inicio</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <img class="margin-end" style="margin: 5px auto; display: block" src="assets/icon/favicon.png">

    <ion-list>

        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input name="email" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input name="password" type="password" [(ngModel)]="password"></ion-input>
        </ion-item>

    </ion-list>

</ion-content>

<ion-footer no-shadow no-margin no-padding no-border no-lines>
    <ion-button expand="full" size="large" (click)="signIn()">Entrar</ion-button>
</ion-footer>
